@model IEnumerable<Axiom.Services.PersonAPI.Models.DTOs.PersonDTO>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Persons</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="PersonCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Person</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Occupation
                    </th>
                    <th>
                        Telephone
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Ocuppation
                        </td>
                        <td>
                            @item.Telephone
                        </td>
                        <td>
                            <a class="btn btn-success">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-action="PersonDelete" asp-route-personId="@item.PersonId" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>